.btn {
    border: 2px solid $accent;
    @include adaptiv-font(16, 12);
    text-transform: uppercase;
    font-weight: 700;
    color: $accent;
    // padding: 20px;
    padding-left: 44px;
    padding-right: 40px;
    border-radius: 40px;
    height: 57px;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    &--secondary {
        background-color: transparent;
        background: url(../../img/icon-arrow-accent.svg) no-repeat 95% center;
    }
    &--primary {
        background-color: $accent;
        color: #fff;
    }
}