.header {
    &__wrap {
        background-color: $accent-light;
        height: 100px;
        display: flex;
        padding-left: 50px;
        padding-right: 22px;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    &__contacts {
        display: flex;
        flex-direction: column;
        & a {
            color: $font-color;
            text-decoration: none;
            font-weight: 500;
        }
    }
}