.header {
    position: sticky;
    top: 30px;
    z-index: 6;
    &__wrapper-sup {
        position: relative;
    }
    &__wrap {
        overflow: hidden;
        background-color: $accent-light;
        height: 100px;
        display: flex;
        padding-left: 50px;
        padding-right: 22px;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        transition: all ease-in .3s;
        position: relative;
        @include xl {
            padding-left: 30px;
            height: 80px;
        }
        @include md {
            padding-left: 10px;
            height: 60px;
        }
    }
    
    &__contacts {
        display: flex;
        flex-direction: column;
        & a {
            color: $font-color;
            text-decoration: none;
            font-weight: 500;
            transition: all ease-in .3s;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        text-decoration: none;
    }
    &__btn svg {
        margin-left: 10px;
        margin-top: -2px;
    }
    &__order {
        @include xl {
            display: none;
        }
    }
    &__contacts-mail {
        @include md {
            display: none;
        }
    }
    &__menu {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__logo-image {
        width: 182px;
        height: 35px;
        background-image: url("../../img/logo-desktop.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    &.scroll .header__logo-image {
        background-image: url("../../img/logo-header-light.svg");
    }
    &.scroll .header__wrap {
        // background-color: #0D242C;
        background-color: transparent;
        
        .header__contacts a {
            color: #fff;
        }
        .nav-header__list li a  {
            color: #fff;
        }
    }
    &__bg {
        position: absolute;
    }
    &.scroll &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(13, 36, 43, 0.7);
        filter: blur(4px);
        overflow: hidden;
        left: 0;
        top: 0;
        z-index: 0;
    }
    &__logo-link {
        z-index: 1;
    }

}