.header {
    position: relative;
    &__wrap {
        background-color: $accent-light;
        height: 100px;
        display: flex;
        padding-left: 50px;
        padding-right: 22px;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        @include xl {
            padding-left: 30px;
            height: 80px;
        }
        @include md {
            padding-left: 10px;
            height: 60px;
        }
    }
    
    &__contacts {
        display: flex;
        flex-direction: column;
        & a {
            color: $font-color;
            text-decoration: none;
            font-weight: 500;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__btn svg {
        margin-left: 10px;
        margin-top: -2px;
    }
    &__order {
        @include xl {
            display: none;
        }
    }
    &__contacts-mail {
        @include md {
            display: none;
        }
    }
}