.nav-header-burger {
    display: none;
    @include xl {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        padding: 0;
        & span {
            background-color: #0D242C;
            width: 30px;
            height: 2px;
            display: block;
            font-size: 0;
            position: absolute;
            left: calc(50% - 10px);
            top: 14px;
        }
        &::before,
        &::after {
            transition: top .2s ease;
            content: "";
            position: absolute;
            left: calc(50% - 10px);
            top: 6px;
            width: 30px;
            height: 2px;
            background-color: #0D242C;
        }
        &::after {
            top: 22px;
        }
    }
    &.active {
        & span {
            opacity: 0;
        }
        &::before {
            transform: rotate(45deg);
            top: 14px;
        }
        &::after {
            transform: rotate(-45deg);
            top: 14px;
        }
    }
}