.project {
    padding-bottom: 100px;
    @include md {
        padding-bottom: 50px;
    }
    & .container {
        @include md {
            padding: 0;
        }
    }
    &__wrap {
        padding: 37px 10% 144px;
        background-color: #D0D9D4;
        border-radius: 50px;
        @include md {
            padding-bottom: 30px;
            padding: 20px 10px 30px;
            border-radius: 30px;
        }
    }
    &__bread-crumbs {
        // padding-bottom: 92px;
    }
    &__inner {
        margin: 0 auto;
        border-radius: 50px;
        background-color: #fff;
        padding: 100px;
        @include xl {
            padding: 30px;
        }
        @include md {
            padding: 10px;
            border-radius: 30px;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        @include md {
            display: block;
            margin-bottom: 10px;
        }
    }
    &__top-wrap {
        width: 50%;
        &:first-child {
            margin-right: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include xl {
                margin-right: 15px;
            }
            @include md {
                margin-bottom: 10px;
            }
        }
        @include md {
            width: 100%;
        }
        
    }
    &__title {
        margin: 0;
        font-family: "ProstoOne", Arial, Helvetica, sans-serif;
        line-height: 1.3;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 35px;
        @include adaptiv-font(28,20);
    }
    &__description {
        margin: 0;
        display: inline-block;
        margin-bottom: auto;
        margin-bottom: 40px;
    }
    &__img-wrap {
        border-radius: 50px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        @include md {
            border-radius: 30px;
        }
        &--1 {
            height: 306px;
        }
        &--2 {
            @include md {
                height: 306px;
            }
        }
        &--3 {
            height: 510px;
            @include md {
                height: 306px;
            }
        }
    }
    &__img {
        &--1 {
            background-image: url("../../img/progect-1.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &--2 {
            background-image: url("../../img/project-2.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &--3 {
            background-image: url("../../img/project-3.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease-in-out 1s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__btn {
        margin: 40px auto 0;
        background-color: $accent;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease-in .3s;
        &:hover {
            background-color: $accent-hover;
            border-color: $accent-hover;
        }
        &:active {
            background-color: $accent-click;
            border-color: $accent-click;
        }
        & svg {
            margin-left: 10px;
        }
        @include md {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 50px;
        }
    }
}