.slider-single {
    width: 50%;
    margin-right: 77px;
    &__item-main {
        border-radius: 50px;
        background-color: #F7F8FA;
        border: 1px solid #CFE1E9;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        width: 100%;
    }
    &__wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__item-sub {
        width: 33.3333%;
        height: 182px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 50px;
        background-color: #F7F8FA;
        border: 1px solid #CFE1E9;
    }
    &__item-sub + &__item-sub {
        margin-left: 20px;
    }
}